<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dlj1.springboot.dao.UserDao" >
    <resultMap id="userResult" type="java.util.Map" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
    </resultMap>
    <sql id="columns" >
        id, user_name, password, age
    </sql>

    <insert id="add" parameterType="cn.dlj1.springboot.entity.User" useGeneratedKeys="true" keyProperty="id" keyColumn="id" >
        insert into user(name,age) values(#{name},#{age})
    </insert>

    <select id="selectAll" resultType="cn.dlj1.springboot.entity.User">
        select * from user
    </select>

    <select id="selectOne" resultType="cn.dlj1.springboot.entity.User" parameterType="int">
        select * from user where id = #{id}
    </select>

</mapper>